@charset "UTF8";

/*SELETOR GLOBAL*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: aqua;
  font-family: Arial, sans-serif;
  padding: 50px;   
}

section{
 
  font-family:'Times New Roman', Times, serif;
  font-size: 20px;
  margin: auto;
  padding: 25px;
  background: #ffff;
  border-radius: 15px;
  width: 40%;
  height: 180%;
  text-align: center;  
  box-shadow: 5px 5px 10px rgba(0, 0, 0.324);
  
}

section h1{
  font-weight: bolder;
  font-size: 30px;
  color:rgba(7, 100, 121, 0.516);
  text-align: center;
  padding: 3px;
  margin-bottom: 15px; 
  
  
}

section h1:hover{
  text-decoration-line: underline;
 
}

section h2 {
  color:rgba(83, 212, 241, 0.697);
}

#itexto, #iconvite {
  padding: 12px 16px 14px;
  /* padding-left: 55px; */
  margin: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-align:justify;

}

#itexto:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.796);
}

#iconvite:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.796);
}

#ibtn{
  font-size: 15px;
  font-weight: 800;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  color:darkblue;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.796);
  cursor: pointer;
}

#ibtn:hover {
  color: #ffff;
  background-color: rgba(83, 212, 241, 0.697);
  text-transform: uppercase;

}


section p{
 color:rgba(7, 100, 121, 0.516);
 margin-bottom: 20px;
 font-weight: 800;

}

